module.exports = {
  prefix: '!',
  db_url: '',
  owner: '',
  main_guild: '',
  token: '',
  welcome_message: `**Welcome to the SERVER_NAME**`,
  ranked_welcome: `Welcome to the Ranked Lobbies!`,
  ranked_verification_dm: `Your account has been verified. Enjoy ranked lobbies!`,
  wc_signup_message: 'Thank you for signing up for the World Cup!',
  draft_tool_url: '',
  channels: {
    tourney_log_channel: 'tourney-bot-log',
    tourney_dm_channel: 'tourney-bot-dm',
    main_channel: 'general',
    livestreams_channel: 'livestreams',
    war_search_channel: 'war-search',
    private_lobby_channel: 'private-lobbies',
    private_lobby_chat_channel: 'private-lobby-chat',
    tournament_lobbies_category: 'tournament lobbies',
    ranked_lobbies_category: 'ranked lobbies',
    ranked_rules_channel: 'ranked-rules',
    ranked_guide_channel: 'ranked-guide',
    ranked_results_submissions_channel: 'results-submissions',
    ranked_lobbies_channel: 'ranked-lobbies',
    ranked_general_channel: 'ranked-general',
    commands_allowed: [
      'music-and-memes',
      'bot-spam',
      'war-search',
      'private-lobby-chat',
      'tournament-results',
      'tournament-discussion',
      'ranked-general',
    ],
  },
  roles: {
    admin_role: 'admin',
    bot_developer_role: 'bot developer',
    staff_role: 'staff',
    tournament_staff_role: 'tournament staff',
    ranked_staff_role: 'ranked staff',
    wc_staff_role: 'weekly challenge staff',
    ctr_staff_role: 'crashteamranking staff',
    muted_role: 'muted',
    media_staff_role: 'media staff',
    ranked_updater_role: 'ranked updater',
    champion_role: 'champion',
    wc_champion_role: 'world cup champion',
    tournament_champion_role: 'tournament champion',
    ranked_champion_role: 'ranked champion',
    challenge_master_role: 'challenge master',
    donator_role: 'donator',
    captain_role: 'captain',
    nitro_booster_role: 'server booster',
    war_search_role: 'war',
    instateam_role: 'instateam',
    private_lobby_role: 'private lobby',
    ranked_role: 'ranked',
    ranked_verified_role: 'ranked verified',
    ranked_ffa_role: 'ranked items',
    ranked_itemless_role: 'ranked itemless',
    ranked_duos_role: 'ranked duos',
    ranked_3v3_role: 'ranked 3v3',
    ranked_4v4_role: 'ranked 4v4',
    ranked_battle_role: 'ranked battle',
    lurker_role: 'lurker',
  },
};
